<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/content/style/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css.map" />
    <link type="text/css" rel="stylesheet" href="~/content/materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>@Page.Title</title>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
</body>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.slim.js"></script>
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
<script type="text/javascript" src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript" src="~/Scripts/Default/control.chart.js"></script>
</html>
