<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/content/files/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="~/content/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="~/content/nouislider/nouislider.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/content/style/site.css" />
    <title>@Page.Title</title>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
    <div class="popups">
        @Html.Partial("_Popups")
    </div>
    <script type="text/javascript" src="~/Scripts/libs/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery.json.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/finances.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/finances.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Chart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/hammer.min.js"></script>
    <script type="text/javascript" src="~/Scripts/nouislider/nouislider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/chartjs-plugin-annotation.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/chartjs-plugin-zoom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/finances.ui.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/control.slider.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/control.binder.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/control.chart.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/control.additionalpath.js"></script>
    <script type="text/javascript" src="~/Scripts/Default/control.popups.js"></script>
</body>
</html>
