<div class="tooltip-content">
    <div class="tooltip-element-titles">
        <h6>[AGE]</h6>
    </div>
    <div class="tooltip-element-lines">
        <div><span class="tooltip-element-span">[ACUMULATED_AMOUNT]</span></div>
    </div>
    <i class="icon tooltip-moreoptions" data-age="[AGE]"></i>
    <div class="tooltip-body" style="display: none">
        <div class="tooltip-body-content">
            <label>Депозит</label>
            <input type="number" name="deposit" value="" />
            <label>Кредит</label>
            <input type="number" name="credit" value="" />
        </div>
    </div>
</div>