<div id="edit-finances-popup" class="modal edit-finances-popup">
    <div class="btn-close-popup"></div>
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat save-edit-finances">Зберегти</a>
        <a href="#!" class="modal-action modal-close btn-flat">Відмінити</a>
    </div>
</div>
<div id="edit-salary-popup" class="modal edit-salary-popup">
    <div class="btn-close-popup"></div>
    <div class="modal-content">
        <form class="form-edit-salary-content" method="POST" data-valmsg-replace="true">
            <div class="edit-salary-content">

            </div>
        </form>
        <a class="btn-floating grey add-salary-period"><i class="material-icons">add</i></a>
        <a class="btn-floating red delete-salary-period"><i class="material-icons">delete</i></a>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action btn-flat save-edit-salary">Зберегти</a>
        <a href="#!" class="modal-action modal-close btn-flat">Відмінити</a>
    </div>
</div>
<div id="edit-profession-popup" class="modal edit-profession-popup" data-valmsg-replace="true">
    <div class="btn-close-popup"></div>
    <div class="modal-content">
        <form class="form-edit-profession-content" method="POST" data-valmsg-replace="true">
            <div class="edit-profession-content">

            </div>
        </form>
        @*<a class="btn-floating grey add-salary-period"><i class="material-icons">add</i></a>
        <a class="btn-floating red delete-salary-period"><i class="material-icons">delete</i></a>*@
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action btn-flat save-edit-profession">Зберегти</a>
        <a href="#!" class="modal-action modal-close btn-flat">Відмінити</a>
    </div>
</div>