<div id="edit-finances-popup" class="popup edit-finances-popup">
    <div class="btn-close-popup"></div>
    <div class="popup-content"></div>
    <button class="btn close">Відмінити</button>
    <button class="btn close save-edit-finances">Зберегти</button>
</div>