<div id="edit-finances-popup" class="modal edit-finances-popup">
    <div class="btn-close-popup"></div>
    <div class="modal-content"></div>
    <div class="modal-footer">
        <button class="btn modal-action modal-close save-edit-finances">Зберегти</button>
        <button class="btn modal-action modal-close">Відмінити</button>
    </div>
</div>