<div id="edit-finances-popup" class="modal edit-finances-popup">
    <div class="btn-close-popup"></div>
    <div class="modal-content"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn-flat save-edit-finances">Зберегти</a>
        <a href="#!" class="modal-action modal-close btn-flat">Відмінити</a>
    </div>
</div>