<div id="personal-finances-popup" class="popup personal-finances-popup">
    
</div>
<div id="edit-finances-popup" class="popup edit-finances-popup">
    <input type="number" name="age" value="" />
</div>