@model EducationDegreesViewModel
<p>
    @Html.LabelFor(m => m)
    <span class="newline info">
        <span class="education-info">
            @if (Model != null && Model.Degrees != null && Model.Degrees.Any(x => x.IsReached))
            {
                @Model.Degrees.LastOrDefault(x => x.IsReached).Title
            }
        </span>
    </span>
</p>