@model PensionViewModel
@using PocketBudget.Extensions
<p>
    @Html.LabelFor(m => m.Amount)
    <span class="newline">
        <span class="currency">@HtmlExtensions.GetCurrencySymbol()</span>
        <span class="@Html.IdFor(m => m.Amount)">@Model.Amount.FormatAsPrice()</span>
    </span>
</p>