@model PensionViewModel
@using PocketBudget.Extensions
<p>
    @Html.LabelFor(m => m.Amount)
    <span class="newline @Html.IdFor(m => m.Amount)">
        @Model.Amount.FormatAsCurrency()
    </span>
</p>