@model PensionViewModel
@using PocketBudget.Extensions

<p>
    @Html.LabelFor(m => m.Amount)
    <span class="newline @Html.NameFor(m => m.Amount).ToString().Replace(".", "-")">
        @Html.DisplayFor(m => m.Amount, new { @class = "graph-updater", type = "number" })
    </span>
</p>