@model SalaryViewModel

<div>
    @Html.LabelFor(m => m.Amount)
</div>
<div class="@Html.NameFor(m => m.Amount).ToString().Replace(".", "-")">
    @Html.DisplayFor(m => m.Amount, new { @class = "graph-updater", type = "number" })
</div>