@model SalaryViewModel
@using PocketBudget.Extensions
<p>
    @Html.LabelFor(m => m.SalaryPeriods)
    @if (Model.SalaryPeriods != null && Model.SalaryPeriods.Any())
    {
        <span class="newline info">
            <span class="currency">@HtmlExtensions.GetCurrencySymbol()</span>
            <span class="salary-info">@Model.SalaryPeriods[0].Amount.FormatAsPrice()</span>
        </span>
    }
</p>