body {
}

.content {
    margin-top:2%;
    margin-left:2%;
}

.text-strategy {
    display:block;
}

.text-strategy input {
    margin-left: 5px;
}

#bank-rating-slider{
    margin-bottom: 40px;
}

