body {
}

.content {
    margin-top:2%;
    margin-left:2%;
}

.text-strategy {
    display:block;
}

.text-strategy input {
    margin-left: 5px;
}

#bank-rating-slider{
    margin-bottom: 40px;
}

.icon:after {
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
}

.icon-bank:after {
    background-image: url('../../content/files/income_bank.ico');
}


.icon-deposit::after{
        background-image: url('../../content/files/deposit_icon.png');
}
.icon-income:after {
    background-image: url('../../content/files/income_icon.png');
}

.icon-costs:after {
    background-image: url('../../content/files/costs_icon.jpg');
}

.active {
    display: inline-block;
}

.hidden {
    display: none;
}

.bank-rating{
    display: block;
}

.bank-rating-selector{
    margin: 0;
    padding: 2rem;
}

