body {
}

.content {
    margin-top:2%;
    margin-left:2%;
}

.text-strategy {
    display:block;
}

.text-strategy input {
    margin-left: 5px;
}

#bank-rating-slider{
    margin-bottom: 40px;
}

.icon-income:after {
    background-image: url('../../content/files/income_icon.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
}

.icon-costs:after {
    background-image: url('../../content/files/costs_icon.jpg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
}