@model ProfessionSelectionViewModel
<div>
    @Html.LabelFor(m => m.Professions)
    @Html.EditorFor(m => m.Professions)
    <button class="btn grey btn-flat edit-profession" data-url="@Url.Action("GetDegrees", "Home")">Більше</button>
</div>