@{
    Layout = "~/Views/Shared/_Base.cshtml";
}

<div>
    <div class="budget-block columns">
        <div class="column" id="chart-block" style="width:800px; height:600px;">
            <canvas id="chart"></canvas>
        </div>
        <div class="strategy-info column">
            <div class="strategy-info-income">
                <h4>Стратегія доходу</h4>
                    <p>
                      <input id="hrn" type="radio" name="income" class="input-strategy" value="hrn" checked />
                      <label class="text-strategy" for="hrn">Депозит в гривнях</label>
                    </p>
                    <p>
                      <input id="dollar" type="radio" name="income" class="input-strategy" value="dollar" />
                      <label for="dollar">Депозит в доларах</label>
                    </p>
                    <p>
                      <input id="euro" type="radio" name="income" class="input-strategy" value="euro"  />
                      <label for="euro">Депозит в євро</label>
                    </p>
            </div>
            <div class="strategy-info-costs">
                <h4>Стратегія витрат</h4>
                <p>
                    <input id="economically" type="radio" name="costs" class="input-strategy" value="economically" checked />
                    <label class="text-strategy" for="economically">Економний спосіб життя</label>
                </p>
                <p>
                    <input id="non-economically" type="radio" name="costs" class="input-strategy" value="non-economically"  />
                    <label class="text-strategy" for="non-economically">Звичайний спосіб життя</label>
                </p>
            </div>
            <div class="strategy-info-submit">
                <button class="btn waves-effect waves-light strategy-select" type="submit" name="action">Обрати стратегію</button>
            </div>
        </div>
    </div>
</div>